@media screen and (-webkit-min-device-pixel-ratio:0){
    div.x-grid-header-ct /*:first-child:not(.x-column-header-inner):not(.x-column-header-text):not(.x-column-header)*/{
        display: flex;
    }
    /*div.x-grid-header-ct :first-child div > * {
        width:initial !important;
    }*/

    /*div.x-grid-header-ct :first-child > * div {
        width: initial !important;
    }*/
}
